<div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
        <input type="text" class="form-control-plaintext" id="nombre">s
    </div>
</div>
<div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Apellido</label>
    <div class="col-sm-10">
        <input type="text" class="form-control-plaintext" id="staticEmail" value="email@ejemplo.com">
    </div>
</div>
<div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
        <input type="text" class="form-control-plaintext" id="staticEmail" value="email@ejemplo.com">
    </div>
</div>
<div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña</label>
    <div class="col-sm-10">
        <input type="password" class="form-control" id="contrasena">
    </div>
</div>
<div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Confirmación de Contraseña</label>
    <div class="col-sm-10">
        <input type="password" class="form-control" id="contrasena">
    </div>
</div>