<div class="container">
    <div class="row">
        <button type="button" class="btn btn-danger align-self-end col-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Ver Carrito
    </button>
        <app-modal [Carrito]="carrito"></app-modal>
        <div class="col" *ngFor="let producto of productos.productos as productos">
            <div class="card" style="width: 18rem; margin-top: 10px;margin-bottom: 10px">
                <img src="assets/img/instrumentos/{{producto.img}}" class="card-img-top" alt="...">
                <div class="card-body row">
                    <div class="col-6">

                        <h5 class="card-title">{{producto.nombre ? producto.nombre : "Sin nombre"}}</h5>

                        <p class="card-text">{{producto.descripcion ? producto.descripcion : "Sin descripcion"}}</p>

                        <h5>{{producto.precio | currency:'CLP':'symbol':'1.0-0'}}</h5>
                    </div>
                    <div class="col-6" *ngIf="producto.stock else productoSinStock">
                        <p class="card-text">Stock: {{producto.stock ? producto.stock : "Sin Stock"}}</p>
                        <a class="btn btn-warning" (click)="agregarProductoCarrito(producto)">Agregar</a>
                    </div>
                    <ng-template class="col-6" #productoSinStock>Sin stock</ng-template>
                    <a class="btn btn-primary" [routerLink]="['/producto', producto.id]">Ver producto</a>
                </div>
            </div>
        </div>



    </div>


</div>